@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  @apply bg-gray-900;
} */

.grid_r1 {
  grid-template-columns: 0.8fr 1.1fr 1.1fr;
}
.grid_r2{
  grid-template-rows: 1.3fr 0.7fr
}

.outborder {
  @apply border-[1px] border-gray-300;
}
::-webkit-scrollbar{
  display: none;
}